USE [master]
GO
/****** Object:  Database [Individual]    Script Date: 19/09/2025 08:30:46 ******/
CREATE DATABASE [Individual]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Individual', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Individual.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Individual_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Individual_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Individual].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Individual]
GO
/****** Object:  Table [dbo].[Servicos]    Script Date: 19/09/2025 08:30:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [nvarchar](50) NULL,
	[Descricao] [nvarchar](255) NULL,
	[Valor] [decimal](18, 2) NULL,
	[Tipo] [nvarchar](50) NULL,
	[Servico] [nvarchar](50) NULL,
	[Data] [datetime] NULL,
	[Pagamento] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
